{% extends 'base.html' %} 

{% block content %}
{% load static %} 
<main class="wrap-content">
  <div class="card-background two-thirds-width">
    <section class="card landing-text-container">
      <div class="">
        <h2 class="site-heading">Event: {{event.title}}</h2>
        <h4>Date: {{event.datetime}}</h4>
        <h3 class="landing-text">Price: £{{event.cost}}</h3>
      </div>
    </section>
    <section class="card landing-text-container">
      <img src="{% static 'images/image_placeholder.jpg' %}" alt="">
    </section>
    <section class="card landing-text-container django-card">
      <p><b>Description:</b> <br/><br/> {{event.description}}</p>
    </section>
    </div>
  </div>
</main>
{% endblock content %}