{% extends 'base.html' %} 

{% block content %}
{% load static %} 
<main class="wrap-content">
  <div class="card-background two-thirds-width">
    <section class="card landing-text-container">
      <div class="">
        <h2 class="site-heading">Event: {{event.title}}</h2>
        <h4>Date: {{event.datetime}}</h4>
        <h3 class="landing-text">Price: £{{event.cost}}</h3>
      </div>
    </section>
    <section class="card landing-text-container">
      <img src="{% static 'images/image_placeholder.jpg' %}" alt="">
    </section>
    <section class="card landing-text-container django-card">
      <p><b>Description:</b> <br/><br/> {{event.description}}</p>
      
    </section>
    {% if user.is_authenticated %}
    <section class="card landing-text-container">
      <form action="{% url 'new_review' event.id %}" method="post">
        {% csrf_token %}
      
        <h2>Add Review</h2>
      
        <label for="rating">Rating:</label>
        <select name="rating" id="rating">
          <option value="1" disabled selected>Select Rating</option>
          <option value="1">1</option>
          <option value="2">2</option>
          <option value="3">3</option>
          <option value="4">4</option>
          <option value="5">5</option>
        </select>
        <br />
        <br />

        <label for="review_text">Description:</label> <br/>
        <textarea name="text" id="review_text" cols="100" rows="10"></textarea>
        <br />
        <br />
      
        <input type="submit" value="Submit Review" />
      </form>
    </section>
    {% endif %}
    </div>
    <section class="card-background two-thirds-width">
      <h2 class="site-heading">Reviews:</h2>
      
      {% for review in event.event_reviews.all %}
      <div class="card">
        <h4>From: {{review.username}} </h4>
        <h4>Rating: {{review.rating}} </h4>
        <span class="landing-text">Review: {{review.text}} </span>
      </div>
      
      {% endfor %}
       
    </section>
  </div>
</main>
{% endblock content %}