{% extends 'base.html' %} {% block content %} {% load static %}
<main>
  <section id="event-list" class="card-background">
    <section class="card">
      <h2>Upcoming Events</h2>
    </section>
    <ul class="events-list">
      {% for event in events %}
      <li class="card event">
        <img
          class="event-image"
          src="{% static 'images/image_placeholder.jpg' %}"
          alt=""
        />
        <div class="event-info">
          <h2>{{event.title}}</h2>
          <h3>{{event.datetime}} | £{{event.cost}}</h3>
          <p>{{event.description}}</p>
        </div>
        <div class="event-controls">
          <a href="{% url 'events_details' event.id %}" class="button gray"
            >Details</a
          >
        </div>
      </li>
      {% endfor %}
    </ul>
  </section>
</main>
{% endblock content %}
